{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "semi": ["error", "never"],
    "import/no-named-as-default": "off"
  },
  "globals": {
    "jest": true
  }
}
